---
import MainLayout from "../layouts/MainLayout.astro";

// Retrieve all files with the new import.meta.glob API
const postsData = import.meta.glob("../content/*.{md,mdx}", { eager: true });
const posts = Object.entries(postsData).map(([path, post]) => {
    const slug = path.split("/").pop().replace(/\.(md|mdx)$/, "");
    const title = slug
        .replace(/-/g, " ")
        .replace(/\b\w/g, (l) => l.toUpperCase());
    return { slug, title, post };
});
---

<MainLayout title="Home">
    <section>
        <h3
            style="font-size: 0.9rem; text-transform: uppercase; color: #666; margin-bottom: 20px;"
        >
            Posts
        </h3>
        {
            posts.length > 0 ? (
                <ul>
                    {posts.map(({ slug, title }) => (
                        <li>
                            <a href={`/${slug}`}>{title}</a>
                        </li>
                    ))}
                </ul>
            ) : (
                <p>No posts yet.</p>
            )
        }
    </section>
</MainLayout>